<app-employee-header></app-employee-header>
<div class="container" style="padding-top: 5%;">
        <div class="card leave-card col-md-4">
            <div class="card-body">
                <div class="leave-type">Total Leaves</div>
                <div class="leave-count">{{leaveCount}}</div>
            </div>
        </div>

        <div class="card leave-card col-md-4">
            <div class="card-body">
                <div class="leave-type">Remaining Leaves</div>
                <div class="leave-count">{{RemainingleaveCount}}</div>
            </div>
        </div>
        </div>
<div class="container">
        <div class="card leave-card col-md-4">
            <div class="card-body">
                <div class="leave-type">Pending Leaves</div>
                <div class="leave-count">{{PendingleaveCount}}</div>
            </div>
        </div>
        <div class="card leave-card col-md-4">
            <div class="card-body">
                <div class="leave-type">Accepted Leaves</div>
                <div class="leave-count">{{AcceptedleaveCount}}</div>
            </div>
        </div>
    
        <div class="card leave-card col-md-4">
            <div class="card-body">
                <div class="leave-type">Rejected Leaves</div>
                <div class="leave-count">{{RejectedleaveCount}}</div>
            </div>
        </div>
    </div>
 
